# THOSE VALUES ARE EDITABLE ONLY VIA CLI
CLI_CEB_DEV=false
CLI_CEB_FIREFOX=false

# THOSE VALUES ARE EDITABLE
CEB_GOOGLE_CLIENT_ID=
CEB_DEV_LOCALE=
CEB_CI=
CEB_ASK_SERVICE_URL_DEVELOPMENT=http://127.0.0.1:37817
CEB_ASK_SERVICE_URL_TEST=http://127.0.0.1:37817
